body {
  background: linear-gradient(to right, #74ebd5, #9face6);
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffffcc;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.avatar:hover {
  transform: scale(1.08);
}

h1 {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 800;
  margin: 10px 0;
  font-size: 26px;
}

.intro {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  background-color: #fff;
  border: 2px solid #6666ff;
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  font-family: "Encode Sans Expanded", sans-serif;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #6666ff;
  color: white;
}
